*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background:#3f3f3f;
}

.home{
  display:grid;
  grid-template-columns: 1fr 1fr 3fr;
}

#side-bar{
  background: #262626;
  height:100%;
  width:170px;
  position: fixed;
  overflow:auto;
}

.server-btn{
  width:70px;
  height: 50px;
  margin:15px;
  padding:5px;
  background: #5f5d5d;
  border:5px solid black;
  border-radius: 45px;
  font-size:15px;
  font-weight: bold;
  transition:background 0.2s box-shodow 0.2s;
}

#side-bar .server-btn:hover{
  transform:scale(1.1);
}

.home{
  grid-template-columns: 1fr 2fr 4fr 3fr ;
}

#server-container{
  background-color: grey;
  height: 100%;
  width: 250px;
  position: fixed;
  margin: 0px;
  z-index: 10;
}