*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body{
  background:black;
}

.home{
  display:grid;
  height: 100%;
  grid-template-rows:200vh;
  grid-template-columns:0.2fr 0.2fr 3fr 0.5fr;
}

.serverList{
  position:relative;
  z-index:10;
  background:grey;
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);
}

.Channel{
  background-color:#4A4A4A;
  height:100%;
}
