* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: black;
}

.home {
    display: grid;
    height: 100vh;
    grid-template-rows: repeat(100vh, 3);
    grid-template-columns: 0.2fr 0.2fr 3fr 0.5fr;
}

.serverList {
    position: relative;
    width: 130px;
    z-index: 10;
    background: grey;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

.channelList {
    width: 300px;
    background-color: #4A4A4A;
    position: relative;
    overflow-y: auto;
}

.text-space-component {
    background-color: grey;
}
